Makefile*
.moc
.obj
lib*.so*
*.a
*.prl
tests/model_example/model_example
tests/group_example/group_example
tests/async_example/async_example
modeltest
conversationmodeltest
groupmodeltest
callmodeltest
draftmodeltest
smsinboxmodeltest
outboxmodeltest
*~
doc/html
doc/libcommhistory.tags
tools/commhistory-tool
.project
.cproject
*.pro.user*
core
core.*
*-stamp
tests/ut_unreadeventsmodel/ut_unreadeventsmodel
tests/bin/*
.dotest/
tests/perf_bin/*
